<div class="w3-container w3-row"></div>
    <div class="w3-col s4">
      <img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
  <div class="w3-col s8 w3-bar">
    <span>Login Loser, we're going mapping</span><br>
  </div>
</div>
<hr>
<div class="w3-container">
  <h5>Dashboard</h5>
</div>
<div class="w3-bar-block">
  <div class="mainForm">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" autofocus>
        <br />

        <label for="password">Password: </label>
        <input type="password" id="password" name="password">
        <br /><br />
        
        <input class="submitButton" type="submit" value="LOGIN">
    </form>
    <p>Or <a href="/register">register</a> if you do not have an account.</p>
</div>
</div>